{% extends '../layouts/init.html' %}

{% block content %}

<div class="form-popup">
    <div class="form-box login">
        <div class="form-details">
        </div>
        <div class="form-content">
            <h2>Prestamos Sena</h2>
            <form action="#">
                <div class="input-field">
                    <input type="email" placeholder="Correo" required>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}