{% extends '../layouts/init.html' %}

{% block content %}

<div class="form-popup">
    <div class="form-box login">
        <div class="form-details">
        </div>
        <div class="form-content">
            <h2>Prestamos Sena</h2>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" name="username" placeholder="Usuario" required>
                </div>
                <div class="input-field">
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}