{% extends '../layouts/content.html' %}

{% block content %}

    <div class="container_2">
        <div class="card">
            <figure>
                <img src="../../static/img/Prestamos.jpg">
            </figure>
            <div class="contenido">
                <h3>Prestamos</h3>
                <p text-align: justify>La optimización de este proceso aumenta la disponibilidad de los equipos para los aprendices e instructores y mejora la seguridad, reduciendo el riesgo de pérdida o daño de los mismos.</p>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../../static/img/Devoluciones.jpg">
            </figure>
            <div class="contenido">
                <h3>Devoluciones</h3>
            <p text-align: justify>Conserva los registros de préstamos en tiempo real y actualizando la disponibilidad. Esto ayuda a proporcionar trazabilidad y transparencia en el inventario.</p>
            </div>
        </div>
        <div class="card">
            <figure>
                <img src="../../static/img/Inventario.jpg">
            </figure>
            <div class="contenido">
                <h3>Inventario</h3>
                <p text-align: justify>Asegura la disponibilidad de equipos y accesorios informáticos de la oficina de préstamos. Garantizando una confiabilidad en el control de los insumos.</p>
            </div>
        </div>
    </div>

{% endblock %}