{% extends '../layouts/init.html' %}

{% block content%}
    
    <div class="container mt-5">
        <div class="title">Registro</div>
        <div class="content">
            <form action={% url "guardar_registro" %} method="POST">
                {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombre Completo</span>
                        <input name="nombre" type="text" placeholder="Ingresa tu nombre" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Correo</span>
                        <input name="correo" type="email" placeholder="Ingresa tu correo" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Tipo de Documento</span>
                        <select name="tipo_documento" required>
                            <option value="" disabled selected>Tipo de documento</option>
                            <option value="cc">Cédula de Ciudadanía</option>
                            <option value="ti">Tarjeta de Identidad</option>
                            <option value="ce">Cédula de Extranjería</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Número de documento</span>
                        <input name="numero_documento" type="text" placeholder="Ingresa tu documento" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Ficha de aprendiz</span>
                        <input name="ficha_aprendiz" type="text" placeholder="Ingresa tu ficha" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>

{% endblock %}