.sidebar {
    background-color: #ff5800;
    height: 100vmin;
    padding: 10px;
  }
  
  div > .logo {
    width: 100%;
    text-align: center;
  }
  
  div > .logo img {
    width: 140px; 
  }
  
  div > .icons {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
  
  div > .icons img {
    width: 3.5rem;
    margin-right: 2vw; 
  }
  
  div > .icons .icon-word {
    font-size: 16px; 
  } 